.detailsContainer {
    width: 100%;
    background: rgba(26, 26, 26, 0.7);
    backdrop-filter: blur(20px);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    overflow: hidden;
    transition: transform 0.3s cubic-bezier(0.4, 0.0, 0.2, 1), height 0.3s ease;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 3;
    transform: translateY(100%);
    display: flex;
    flex-direction: column;
}

.detailsContainer.open {
    transform: translateY(0);
}

.detailsContainer.closing {
    transform: translateY(100%);
}

.detailsContainer.opening {
    transform: translateY(0);
}

.closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.7);
}

.closeButton:hover {
    opacity: 0.8;
}

.tableContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 24px;
}

.contentTable {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    table-layout: fixed;
}

.tableBodyWrapper {
    flex: 1;
    overflow-y: auto;
    margin-top: 10px;
}

.th, .td {
    padding: 10px 12px;
    height: 19px;
    line-height: 19px;
    vertical-align: middle;
    text-align: left;
}

.th {
    color: var(--transparent-white-20070, rgba(255, 255, 255, 0.70));
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    position: sticky;
    top: 0;
    z-index: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}

.td {
    overflow: hidden;
    color: #FFF;
    text-overflow: ellipsis;
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    white-space: nowrap;
    max-width: 200px;
}

.rightAlign {
    text-align: right;
}

.progressContainer {
    position: relative;
    width: 100%;
    height: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 4px;
    overflow: hidden;
}

.progressBar {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    border-radius: 4px;
    transition: width 0.3s ease;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
}

.downloadingBar {
    background-color: rgba(248, 182, 83, 1);
}

.completedBar {
    background-color: #3A2DD2;
}

.progressText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--white, #FFF);
    font-family: Inter, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    z-index: 1;
}

.sortIcon {
    margin-left: 5px;
    font-size: 0.8em;
    vertical-align: middle;
}

.resizeHandle {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 5px;
    cursor: ns-resize;
}

.resizeHandle:hover {
    background-color: rgba(255, 255, 255, 0.1);
}